<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8"/>
    <title>User edit</title>
    </head>
    <body>
    <h1>Enter new user details</h1>
    <form th:action="@{/updateUser/{id}(id=${user.id})}" method="post">
        
        <label for="fname">First name</label>
        <input type="text" id="fname" name="firstName" th:value="${user.firstName}"/>
        <br/>

        <label for="sname">Second name</label>
        <input type="text" id="sname" name="secondName" th:value="${user.secondName}"/>
        <br/>
        
        <label for="age">Age</label>
        <input type="number" id="age" name="age" th:value="${user.age}"/>
        <br/>

        <button type="submit">Update</button>
    </form>
    </body>
</html>